.hero-grid{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.content{
    max-width: 670px;
}

.content .hero-header{
    font-weight: 400;
    font-size: 56px;
    line-height: 78.4px;
    letter-spacing: -2%;
    color: var(--black-color);
    margin-bottom: 40px;
}

.content .hero-header span{
    font-weight: 700;
    color: #A02279;
    margin-bottom: 40px;
}

.content p{
    color: var(--black-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 40px;
}


.form-control{
    width: 95%;
    
}

input{
    width: 62%;
    height: 54px;
    background-color: #fff;
    outline: none;
    font-family: 'Red Rose', cursive;
    border: 1px solid #A3A3A3;
    border-radius: 8px 0 0 8px;
    /* color: #B8B8B8; */
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    padding: 20px;
}

#search-button{
    width: 38%;
    height: 54px;
    background: var(--purple-color);
    color: #fff;
    border: none;
    font-family: 'Red Rose', cursive;
    border-radius: 0 8px 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}


.image-grid{
    display: grid;
    width: 484px;
    row-gap: 8px;
    columns: 5px;
    grid-template-areas:
    '. image-1'
    'image-2 image-1'
    'image-2 image-3'
    'image-4 image-3'
    'image-4 .';
}

.image-1{
    grid-area: image-1;
}
.image-2{
    grid-area: image-2;
}
.image-3{
    grid-area: image-3;
}
.image-4{
    grid-area: image-4;
}

.image-grid img{
    width: 234px;
    height: 176px;
    border-radius: 15px;
}

@media(max-width: 1280px) {
    .hero-grid {
        width: 90%;
    }

    .content{
        max-width: 620px;
    }

    .content .hero-header{
        font-size: 50px;
        line-height: 78.4px;
        margin-bottom: 30px;
    }

    .content p{
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 30px;
    }
}

@media(max-width: 1240px){

    .images{
        width: 45%;
    }

    .content { 
       width: 55%;
    }

    .content .hero-header {
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 20px;
        line-height: 30px;
    }

    .image-grid{
        width: 100%;
        justify-content: center;
    }

    .image-grid img {
        width: 95%;
        height: 100%;
        margin: auto;
    }
}

@media(max-width: 1150px){

    .images{
        width: 50%;
    }
    
    .content{
        width: 50%;
    } 

    .content .hero-header {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
}

@media(max-width: 1060px){
    .images{
        width: 47%;
    }

    .content{
        width: 52%;
    }
}


@media(max-width: 1000px){
    .hero-grid{
        width: 90%;
        flex-direction: column;
    }

    .form-control{
        width: 100%;
    }

    .images{
        width: 100%;
        display: flex;
    }

    .content{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .content p{
        width: 100%;
    }

    .content .hero-header{
        width: 100%;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 20px;
    }
}