.navbar-container{
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    position: relative;
    margin-bottom: 80px;
}

.navbar{
max-width: 1240px;
height: 48px;
margin: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.navbar .mainMenu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 480px;
}

img {
    width: 233px;
    height: 36.67px;
}



a {
    text-decoration: none;
    color: var(--black-color);
}


.button{
    width: 170px;
    height: 48px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19.98px;
    background: var(--purple-color);
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

.menu-button {
    background: transparent;
    border: none;
    display: none;
}

svg{
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.sideMenu {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    padding: 30px;
    color: #fff;
    /* display: flex; */
    flex-direction: column;
    display: none;
}

.sideMenu ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.sideMenu li {
    padding: 10px;
    border-bottom: rgb(224, 216, 216) 1px solid;
    width: 100%;
    text-align: center;

}




@media(max-width: 950px){

    .navbar{
        width: 90%;
    }
    
    .menu-button{
        display: inline-block;
    }

    .menu-connect-wallet {
        display: none;
    }

    /* .mainMenu ul{
        display: none;
    } */

    .mainMenu li{
        display: none;
    }

    img {
        width: 150px;
        height: 36.67px;
    }

    .sideMenu{
        display: flex;
    }
    .sideMenu a{
        width: 100%;
    }

    .sideMenu button{
        width: 100%;
    }
}